# Please modify the following contents
vn:
  inits:
    - vnCode: ${ENV_VN_CODE}
      vnNodeName: ${ENV_VN_CODE} name
      vnRegion: China
      vnInformation: This is perfect VN-NODE-China.
      vnUrl: ${ENV_VN_GATEWAY}
    - vnCode: ${ENV_VN_CODE}
      vnNodeName: ${ENV_VN_CODE} name
      vnRegion: China
      vnInformation: This is perfect VN-NODE-China.
      vnUrl: ${ENV_VN_GATEWAY}
